body
  background: #000
  margin: 0
  padding: 0
  color: #fff
  font-size: 0.75em
  font-family: "Lucida Grande","Lucida Sans","Luxi Sans","Trebuchet MS","Bitstream Vera Sans",helvetica,verdana,arial,sans-serif

a
  color: white

a:visited
  color:white
  
.strong
  font-weight: bold

#wrapper
  height: 100%
  width: 800px
  margin: 0 auto

#shade
  background: url('shader.png') top center repeat-x
  height: 535px

#background
  height: 535px
  background-position: top center
  background-repeat: no-repeat

#header
  padding-bottom: 25px

#logo
  width: 130px
  height: 50px
  background: url('rlg.png') top center no-repeat
  margin-top: 40px
  float: left

h1
  margin: 0
  padding: 0
  padding-left: 10px
  display: inline
  font-size: 18px

.clear
  clear: both
  width: 100%

  
#suggest
  float: left

#queue
  float: right

#status
  float: right
  margin: 40px 0 35px 150px
  height: 115px
  width: 450px
  font-size: 11px
  font-weight: normal

#status h2
  margin: 0
  padding: 2px 10px 5px 10px
  font-size: 12px
  font-style: italic
  font-weight: normal
  color: #eee
  
#status #cover
  float: left
  width: 65px
  height: 65px
  margin: 2px 10px 10px
  background: #fff

#status #cover img
  width: 65px
  height: 65px

#status #details
  float: left

#status #details #song_title
  margin: 0
  padding: 2px 5px
  font-size: 15px
  font-weight: bold

#status #details #song_artist, #status #details #song_album
  margin: 0
  padding: 0px 5px
  font-size: 12px
  font-weight: normal
  font-style: italic

#status #details .lesser
  padding: 2px 5px
  margin: 0
  
#status #upnext
  padding: 6px 12px 2px
  height: 14px
  width: 426px
  font-size: 10px
  font-weight: normal
  clear: both

#artistlist
  height: 300px
  overflow-y: scroll
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

#library
  width: 50%
  float: left

#queue
  width: 50%
  float: right

table
  border-spacing: 0

td, th, tr, table
  padding: 0
  margin: 0

.rstl 
  background: url('rstl.png') top left no-repeat
  width: 5px
  height: 5px

.rsbg
  background: url('rsbg.png')
  width: 440px

.rsbbg
  background: url('rsbbg.png')
  width: 440px

.rstr
  background: url('rstr.png') top right no-repeat
  width: 5px
  height: 5px

.rsbl
  background: url('rsbl.png') bottom left no-repeat
  width: 5px
  height: 5px

.rsbr
  background: url('rsbr.png') bottom right no-repeat
  width: 5px
  height: 5px