body
  background: #000
  margin: 0
  padding: 0
  color: #fff
  font-family: "Lucida Grande","Lucida Sans","Luxi Sans","Trebuchet MS","Bitstream Vera Sans",helvetica,verdana,arial,sans-serif
  
.strong
  font-weight: bold

#wrapper
  height: 100%
  width: 800px
  margin: 0 auto

#shade
  background: url('shader.png') top center repeat-x
  height: 535px

#background
  height: 535px
  background-position: top center
  background-repeat: no-repeat

#header
  padding-bottom: 25px

#logo
  margin-top: 40px
  float: left

h1
  margin: 0
  padding: 0
  display: inline

#status
  background: #111
  float: right
  margin: 10px 0 20px 150px
  height: 115px
  width: 450px
  font-size: 12px
  font-weight: normal

#status h2
  margin: 0
  padding: 10px 0 10px 10px
  font-size: 14px
  font-weight: bold
  color: #ccc
  
.clear
  clear: both
  width: 100%

#status #cover
  float: left
  width: 65px
  height: 65px
  margin: 2px 10px 10px
  background: #fff

#status #details
  float: left

#status #details #song_title
  margin: 0
  padding: 2px 5px
  font-size: 14px
  font-weight: bold

#status #details .lesser
  padding: 2px 5px
  margin: 0
  
#status #upnext
  background: #444
  padding: 6px 12px
  height: 14px
  width: 426px
  font-size: 11px
  font-weight: normal
  clear: both
  
#suggest
  float: left

#queue
  float: right